////////////////////////////
// EASE Colors
////////////////////////////

// Note: These are offical EASE colors.
// Note: Source is https://ilab-confluence.kdc.capitalone.com/display/EW/EASE+Design+Kit
// Note: EASE Colors and OneDesign colors are not the same.

// TO DO: Add the rest of the EASE colors. This is WIP.

$white: #FFFFFF;

$ease-red--destructive: #D03027;
$ease-blue--progressive: #0D74AF;
$ease-gray--regressive: #687680;
$ease-green--action: #128020;

$ease-red--destructive--hover: #D03027;
$ease-blue--progressive--hover: #0D74AF;
$ease-gray--regressive--hover: #687680;
$ease-green--action--hover: #128020;

$ease-red--destructive--disabled: #D03027;
$ease-blue--progressive--disabled: #0D74AF;
$ease-gray--regressive--disabled: #687680;
$ease-green--action--disabled: #128020;
