// EASE Colors https://ilab-confluence.kdc.capitalone.com/display/EW/EASE+Design+Kit
// Note: EASE Colors and OneDesign Colors are not 100% identical

// ONE DESIGN COLORS
$brand-blue: #004977;
$brand-red: #D03027;
$accent-blue--light: #018BBB;
$accent-green: #0EA218;
$accent-yellow: #FFDC24;
$neutral-gray: #DCD8DB;
$neutral-charcoal: #273B49;

$ease-red--destructive: #D03027;
$ease-blue--progressive: #0D74AF;
$ease-gray--regressive: #687680;
$ease-green--action: #128020;

// EASE Design Kit Colors
$ease-charcoal: #011728;                    // used by main text color
$ease-background: #F2F2F3;                  // used by app background color
$ease-white: #FFFFFF;                       // used by all kinds of elements
$ease-charcoal--light: $neutral-charcoal;   // used by headings
$ease-silver: #CFCCCF;                      // used by horizontal rules, other light elements
$ease-yellow--alert: #F8CC01;               // used by alerts icon
$ease-blue--xlight: #E2F4FE;                // used by calendar day background

// Input Specs
$input-text--default: $ease-charcoal;
$input-text--placeholder: #687680;
$input-background--default: $ease-white;
$input-background--disabled: #F5F5F6;
$input-border--default: #C2C0C6;
$input-border--focused: $ease-blue--progressive;
$input-border--invalid: $ease-red--destructive;
