@import '../../components/core/_core.scss';

.c1-user-menu__wrapper {
  position: relative;
}

.c1-user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c1-user-menu__avatar {
  height: map-get($spacing-sizes, "xlarge");
  width: map-get($spacing-sizes, "xlarge");
  background-size:contain;
  background-image: url('/public/static/img/DefaultAvatar.png');
}

.c1-user-menu__user {
  font-size: 1.125em;
  white-space: nowrap;
  @include padding("medium", "left");
  @include padding("medium", "right");
  padding-top: map-get($spacing-sizes, "medium") + map-get($spacing-sizes, "small");
  padding-bottom: map-get($spacing-sizes, "medium") + map-get($spacing-sizes, "small");
  margin: 0;
  &:hover {
    cursor: pointer;
  }
}

.c1-user-menu__panel{
  margin-top:13px;
}

[c1MenuItem] {
  box-sizing: border-box;
  font-family: $proxima-nova;
  position: relative;
  display:block;
  text-align: right;
  display: block;
  font-size: $font-size--small;
  width: 100%;
  line-height: map-get($spacing-sizes, "large");
  outline: 0;
  border: none;
  margin: 3px 0;
  cursor: pointer;
  text-decoration: none;
  &:visited {
    color: $ease-charcoal;
  }
  &:active {
    color: $ease-charcoal;
  }
}
