<div class="tile--grid-left">
  <div class="tile--heading">
    <h2 class="tile--heading-name">{{ account.displayName }}</h2>
    <p class="tile--heading-lastfour">{{ account.accountNumberTLNPI }}</p>
  </div>
  <div class="tile--currency-container">
    <span class="tile--currency-symbol">$</span><span class="tile--currency-dollars">{{ dollars | c1FormatDollars }}</span><span class="tile--currency-cents">{{ cents | c1FormatCents }}</span>
  </div>
  <p class="tile--account-descriptor">
    current balance
  </p>
</div>
<div class="tile--grid-right">
  <p class="tile--action-label">min $86.87 due dec 15</p>
  <div>
    <c1-button ghost="true" type="white">
      Make Payment
    </c1-button>
  </div>
</div>
