@import '../core/_core.scss';

:host {
  display: flex;
  @include padding("large", "top");
  @include padding("large", "left");
  @include padding("large", "right");
  @include padding("xlarge", "bottom");
  text-decoration: none;
  @include margin("medium", "top");
  @include margin("medium", "bottom");
  cursor: pointer;
  color: $ease-white;
  font-family: $font-stack;
  background: $brand-blue;
  background-size: 100% auto;
  box-sizing: border-box;

  width: 100%;
  flex-direction: column;
  @include breakpoint("small") {
    flex-direction: row;
  }
  @include breakpoint("medium") {
    width: 49%;
    &:nth-child(odd) {
      margin-right: 2%;
    }
  }
}

.account-tile__grid {
  flex: 1 1 auto;
}

.account-tile__grid--left {
  width: 100%;
}

.account-tile__grid--right {
  justify-content: flex-end;
  min-width: 175px;
}

.account-tile__heading {
  display: flex;
  margin: 0;
  align-items: flex-end;
}

.account-tile__name {
  margin: 0;
  font-size: $font-size--xlarge;
  font-weight: $font-weight--regular;
}

.account-tile__lastfour {
  font-size: $font-size--xsmall;
  @include margin("xsmall", "bottom");
  @include margin("small", "left");
}

.account-tile__action-label {
  text-transform: uppercase;
  @include margin("medium", "top");
  @include margin("medium", "bottom");
  padding: 0;
  text-align: center;
  font-size: $font-size--xsmall;
}

.account-tile__balance {
  display: block;
  position: relative;
  font-weight: $font-weight--thin;
  font-size: 3.250rem;
}

.account-tile__balance-symbol {
  position: relative;
  font-size: inherit;
  font-size: 1.625rem;
  vertical-align: super;
  font-feature-settings: 'pnum';
}

.account-tile__balance-dollars{
  position: relative;
  font-size: inherit;
  letter-spacing: -.025rem;
  font-feature-settings: 'pnum';
}

.account-tile__balance-cents {
  position: relative;
  font-size: inherit;
  font-size: 1.625rem;
  vertical-align: super;
  margin-left: .126rem;
  font-feature-settings: 'pnum';
}

.account-tile__balance-descriptor {
  font-size: $font-size--small;
  line-height: $font-size--xlarge;
  @include margin("small", "top");
  @include margin("small", "bottom");
  text-transform: uppercase;
}
