@import '../core/_core.scss';

:host {
  display: flex;
  height: 175px;
  padding: 25px 25px 45px 25px;
  text-decoration: none;
  width: 49%;
  margin: 12px 0;
  cursor: pointer;
  color: $white;
  background: #003362; //$brandBlueDark
  background-size: 100% auto;

  &:nth-child(odd) {
    margin: 12px 2% 12px 0;
  }
}

.tile {
  &--grid {
    &-left {
      flex: 1 1 auto;
      width: 100%;
    }

    &-right {
      flex: 1 1 auto;
      justify-content: flex-end;
      min-width: 175px;
    }
  }

  &--currency {
    display: block;
    position: relative;
    font-weight: 100;

    &-symbol {
      position: relative;
      font-size: inherit;

      &_negative {
        position: relative;
        font-size: inherit;
      }
    }

    &-dollars {
      position: relative;
      font-size: inherit;
      font-feature-settings: 'pnum';
    }

    &-cents {
      position: relative;
      font-size: inherit;
      font-feature-settings: 'pnum';
      vertical-align: top;
    }
  }

  &--action {
    &-label {
      text-transform: uppercase;
      margin: 0 0 12px 0;
      padding: 0;
      text-align: center;
      font-size: 12px;
    }
  }

  &--balance {
    &-name {
      font-size: 12px;
    }
  }

  &--name {
    &-wrapper {
      display: flex;
      align-items: flex-end;
      margin: 0;
    }
  }

  &--heading {
    display: flex;
    margin: 0;
    align-items: flex-end;

    &-name {
      margin: 0;
      font-size: 24px;
      font-weight: 400;
    }

    &-lastfour {
      font-size: 0.875rem;
      margin: 0 0 2px 5px;
    }
  }

  &--account {
    &-number {
      font-size: 0.875rem;
      margin: 0 0 2px 5px;
    }

    &-descriptor {
      font-size: 12px;
      line-height: 27px;
      margin: 6px 0;
      text-transform: uppercase;
    }
  }

  &--productlogo {
    &-smaller {
      font-size: 0.8rem;
      margin: 0 0 5px 0;
    }
  }

  &--currency {
    &-container {
      display: block;
      position: relative;
      font-weight: 100;
      font-size: 3.250rem;
    }

    &-symbol {
      font-size: 1.625rem;
      vertical-align: super;
      font-feature-settings: 'pnum';
    }

    &-dollars {
      letter-spacing: -.025rem;
      font-feature-settings: 'pnum';
    }

    &-cents {
      font-size: 1.625rem;
      vertical-align: super;
      margin-left: .126rem;
      font-feature-settings: 'pnum';
    }
  }
}
