@import '../core/_core.scss';

:host {
  display: flex;
  @include padding("large", "top");
  @include padding("large", "left");
  @include padding("large", "right");
  @include padding("xlarge", "bottom");
  text-decoration: none;
  @include margin("medium", "top");
  @include margin("medium", "bottom");
  cursor: pointer;
  color: $ease-white;
  font-family: $font-stack;
  background: $brand-blue;
  background-size: 100% auto;
  box-sizing: border-box;

  width: 100%;
  flex-direction: column;
  @include breakpoint("small") {
    flex-direction: row;
  }
  @include breakpoint("medium") {
    width: 49%;
    &:nth-child(odd) {
      margin-right: 2%;
    }
  }

}

.tile {
  &--grid {
    &-left {
      flex: 1 1 auto;
      width: 100%;
    }

    &-right {
      flex: 1 1 auto;
      justify-content: flex-end;
      min-width: 175px;
    }
  }

  &--currency {
    display: block;
    position: relative;
    font-weight: $font-weight--thin;

    &-symbol {
      position: relative;
      font-size: inherit;

      &_negative {
        position: relative;
        font-size: inherit;
      }
    }

    &-dollars {
      position: relative;
      font-size: inherit;
      font-feature-settings: 'pnum';
    }

    &-cents {
      position: relative;
      font-size: inherit;
      font-feature-settings: 'pnum';
      vertical-align: top;
    }
  }

  &--action {
    &-label {
      text-transform: uppercase;
      @include margin("medium", "top");
      @include margin("medium", "bottom");
      padding: 0;
      text-align: center;
      font-size: $font-size--xsmall;
    }
  }

  &--balance {
    &-name {
      font-size: $font-size--xsmall;
    }
  }

  &--name {
    &-wrapper {
      display: flex;
      align-items: flex-end;
      margin: 0;
    }
  }

  &--heading {
    display: flex;
    margin: 0;
    align-items: flex-end;

    &-name {
      margin: 0;
      font-size: $font-size--xlarge;
      font-weight: $font-weight--regular;
    }

    &-lastfour {
      font-size: $font-size--xsmall;
      @include margin("xsmall", "bottom");
      @include margin("small", "left");
    }
  }

  &--account {
    &-number {
      font-size: $font-size--xsmall;
      @include margin("xsmall", "bottom");
      @include margin("small", "left");
    }

    &-descriptor {
      font-size: $font-size--small;
      line-height: $font-size--xlarge;
      @include margin("small", "top");
      @include margin("small", "bottom");
      text-transform: uppercase;
    }
  }

  &--currency {
    &-container {
      display: block;
      position: relative;
      font-weight: $font-weight--thin;
      font-size: 3.250rem;
    }

    &-symbol {
      font-size: 1.625rem;
      vertical-align: super;
      font-feature-settings: 'pnum';
    }

    &-dollars {
      letter-spacing: -.025rem;
      font-feature-settings: 'pnum';
    }

    &-cents {
      font-size: 1.625rem;
      vertical-align: super;
      margin-left: .126rem;
      font-feature-settings: 'pnum';
    }
  }
}
