@import "../../components/core/_core.scss";

.c1-account-summary_wrapper {
  width: 100%;
}

:host {
  background-color: $ease-background;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  @include breakpoint("medium") {
    flex-direction: row;
    flex-flow: wrap;
  }

}
