<div class="note-creator shadow-2" [ngStyle]="{'background-color': newNote.color}">
  <form class="row" (ngSubmit)="onCreateNote()">
    <input type="text" (focus)="toggle(true)" [(ngModel)]="newNote.title" name="newNoteTitle" placeholder="Title" class="col-xs-10 title"
      *ngIf="fullForm">
    <input type="text" (focus)="toggle(true)" [(ngModel)]="newNote.value" name="newNoteValue" placeholder="Take a note..." class="col-xs-10">
    <div class="actions col-xs-12 row between-xs" *ngIf="fullForm">
      <div class="col-xs-3">
        <app-color-picker (selected)="onColorSelect($event)" [colors]="colors">
        </app-color-picker>
      </div>
      <button type="submit" class="btn-light">Done</button>
    </div>
  </form>
</div>
