@import '../components/core/_core.scss';

$red : red;
$green : green;
$blue : #018BBB;

.sample--color-blue {
  font-size: 2em;
  color: $blue;
}

.example--color-red {
  font-size: 2em;
  color: $red;
  @include breakpoint("small") {
    color: $green;
    @include padding(small);
  }
  @include breakpoint("medium") {
    color: purple;
    @include padding(medium);
  }
  @include breakpoint("large") {
    color: blue;
    @include padding(large, top);
  }
}

.menu-example {
  margin-top: map-get($spacing-sizes, "large");
  margin-bottom: map-get($spacing-sizes, "large");
  position: relative;
  display: inline-block;
}

[c1MenuItem] {
  box-sizing: border-box;
  font-family: $proxima-nova;
  position: relative;
  display:block;
  text-align: right;
  display: block;
  font-size: $font-size--small;
  width: 100%;
  line-height: map-get($spacing-sizes, "large");
  outline: 0;
  border: none;
  margin: 3px 0;
  cursor: pointer;
  text-decoration: none;
  &:visited {
    color: $ease-charcoal;
  }
  &:active {
    color: $ease-charcoal;
  }
}
